<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/title3.PNG" type="image/titleImg type">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>Horse and Riders Info</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/css/fontawesome.css">
  <link rel="stylesheet" href="/css/templatemo-edu-meeting.css">
  <link rel="stylesheet" href="/css/owl.css">
  <link rel="stylesheet" href="/css/lightbox.css">
  <style>
    /* Custom section for announcements */
    .announcements {
      margin-top: 40px;
    }

    .announcement-item {
      margin-bottom: 30px;
      padding-bottom: 20px;
      border-bottom: 1px solid #e9ecef;
    }

    .announcement-content h3 {
      margin-bottom: 10px;
      font-size: 20px;
    }

    .announcement-content p {
      margin-bottom: 0;
    }

    .announcement-date {
      text-align: right;
      margin-top: 10px;
      font-size: 14px;
      color: #888;
    }

    /* Custom buttons */
    .announcement-buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }

    .announcement-buttons button {
      margin-left: 10px;
    }

    /* Custom styling for nav */
    .main-nav {
      background-color: rgba(7, 7, 7, 0.15);
    }

    .announcement-header-area {
      background-color: rgba(7, 7, 7, 0.15);
      position: relative;
      left: 0;
      right: 0;
      z-index: 100;
      -webkit-transition: all .5s ease 0s;
      -moz-transition: all .5s ease 0s;
      -o-transition: all .5s ease 0s;
      transition: all .5s ease 0s;
    }

    /* Custom styling for table */
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }
    
    #classSelect{
    	right: 200;
    }
  </style>

</head>

<body>


  <header class="announcement-header-area">
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-sm-8">
            <div class="left-content">
            </div>
          </div>
          <div class="col-lg-4 col-sm-4">
            <div class="right-icons">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="home">Home</a></li>
              <li><a href="circulars" >Announcements</a></li>
              <li class="scroll-to-section"><a href="details" class="active">Horse/Rider Info</a></li>
              <li class="scroll-to-section"><a href="maps">Maps</a></li>
              <li class="scroll-to-section"><a href="contacts">Contact Us</a></li>
              <li class="scroll-to-section"><a href="gallery">Gallery</a></li>
              <li class="scroll-to-section"><a href="login">Login/Sign Up</a>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Horse and Riders</h2>
        </div>
      </div>
    </div>
  </div>
  
 <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <button type="submit" id="randomizeButton" onclick="randomizeHorseNames()">Randomize</button>
          <select id="classSelect" onchange="toggleTables()">
            <option value="all">All Classes</option>
            <option value="class1">Class 1</option>
            <option value="class2">Class 2</option>
          </select>
          </div>
        </div>
      </div>
    </div>
  </div>

	<br>
  <div class="container">
    <div class="row class1">
      <div class="col-lg-12">
      <div>
      	<h5>Class 1</h5>
      </div>
        <div class="table-responsive">
          <table>
            <tr>
              <th>Placing</th>
              <th>Order</th>
              <th>Rider ID</th>
              <th>Rider Name</th>
              <th>Rider School</th>
              <th>Horse Name</th>
              <th>Horse Provider</th>
            </tr>
            <tr>
              <td>-</td>
              <td>1</td>
              <td>760</td>
              <td>Josie Spratt</td>
              <td>Black Hawk College</td>
              <td class="horse-name">-</td>
              <td class="horse-provider">-</td>
            </tr>
            <tr>
              <td>-</td>
              <td>2</td>
              <td>763</td>
              <td>Anna Wilhelm</td>
              <td>Black Hawk College</td>
              <td class="horse-name">-</td>
              <td class="horse-provider">-</td>
            </tr>
            <tr>
              <td>-</td>
              <td>3</td>
              <td>279</td>
              <td>Brayden Gruben</td>
              <td>Missouri State University</td>
              <td class="horse-name">-</td>
              <td class="horse-provider">-</td>
            </tr>
            <tr>
              <td>-</td>
              <td>4</td>
              <td>795</td>
              <td>Morgan DeBuhr</td>
              <td>Iowa State University</td>
              <td class="horse-name">-</td>
              <td class="horse-provider">-</td>
            </tr>
            <tr>
              <td>-</td>
              <td>5</td>
              <td>754</td>
              <td>Lily Zomparelli</td>
              <td>Black Hawk College</td>
              <td class="horse-name">-</td>
              <td class="horse-provider">-</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="row class2">
      <div class="col-lg-12">
      <h5>Class 2</h5>
        <div class="table-responsive">
          <table>
             <tr>
              <th>Placing</th>
              <th>Order</th>
              <th>Rider ID</th>
              <th>Rider Name</th>
              <th>Rider School</th>
              <th>Horse Name</th>
              <th>Horse Provider</th>
            </tr>
            <tr>
              <td>-</td>
              <td>1</td>
              <td>360</td>
              <td>Samantha Lind</td>
              <td>Black Hawk College</td>
              <td class="horse-name-1">-</td>
              <td class="horse-provider-1">-</td>
            </tr>
            <tr>
              <td>-</td>
              <td>2</td>
              <td>363</td>
              <td>Jessica Theobald</td>
              <td>Black Hawk College</td>
              <td class="horse-name-1">-</td>
              <td class="horse-provider-1">-</td>
            </tr>
            <tr>
              <td>-</td>
              <td>3</td>
              <td>379</td>
              <td>Lauren Johnson</td>
              <td>Missouri State University</td>
              <td class="horse-name-1">-</td>
              <td class="horse-provider-1">-</td>
            </tr>
            <tr>
              <td>-</td>
              <td>4</td>
              <td>395</td>
              <td>Ashley Carns</td>
              <td>Iowa State University</td>
              <td class="horse-name-1">-</td>
              <td class="horse-provider-1">-</td>
            </tr>
            <tr>
              <td>-</td>
              <td>5</td>
              <td>354</td>
              <td>Haley Bucher</td>
              <td>Black Hawk College</td>
              <td class="horse-name-1">-</td>
              <td class="horse-provider-1">-</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script>
 // document.getElementById("randomizeButton").addEventListener("click", randomizeHorseNames);

  function randomizeHorseNames() {
      // Get all elements with the "horse-name" class
      var horseNameElements = document.getElementsByClassName("horse-name");
      
      var horseNameProviderElements = document.getElementsByClassName("horse-provider");

      // Array of horse names
      var class1horseNames = ["Rey", "Chip", "Dustin", "Sierra", "Henry"];
      var horse1 = {
    		  horseName:"Rey",
    		  horseProvider:"UWP"
      };
      var horse2 = {
    		  horseName:"Chip",
    		  horseProvider:"BHC"
      };
      var horse3 = {
    		  horseName:"Dustin",
    		  horseProvider:"UWP"
      };
      var horse4 = {
    		  horseName:"Sierra",
    		  horseProvider:"BHC"
      };
      var horse5 = {
    		  horseName:"Henry",
    		  horseProvider:"UWP"
      };
      var horses=[horse1,horse2,horse3,horse4,horse5];
      
      var assignedNames = [];
      
      // Iterate over the horse name elements and assign random names
      for (var i = 0; i < horseNameElements.length; i++) {
    	  
        var randomIndex = Math.floor(Math.random() * class1horseNames.length);
        while (assignedNames.includes(class1horseNames[randomIndex])) {
        	randomIndex++;
            if (randomIndex >= class1horseNames.length) {
              randomIndex = 0;
            }
        }
        horseNameElements[i].textContent = class1horseNames[randomIndex];
        
        assignedNames.push(class1horseNames[randomIndex]);
        
        
        
        for (let j = 0; j < horses.length; j++) {
        	 
        	  if(class1horseNames[randomIndex] == horses[j].horseName){
        		 
        		  horseNameProviderElements[i].textContent = horses[j].horseProvider;
        	  }
        	}
      
        
        
      }
      
      
   // Get all elements with the "horse-name" class
      var class2horseNameElements = document.getElementsByClassName("horse-name-1");
      var horseNameProviderElements2 = document.getElementsByClassName("horse-provider-1");

      // Array of horse names
      var class2horseNames = ["Felix", "Fred", "Hooker", "Sanchez", "Sheldon"];
      var horse6 = {
    		  horseName:"Felix",
    		  horseProvider:"UWP"
      };
      var horse7 = {
    		  horseName:"Fred",
    		  horseProvider:"BHC"
      };
      var horse8 = {
    		  horseName:"Hooker",
    		  horseProvider:"UWP"
      };
      var horse9 = {
    		  horseName:"Sanchez",
    		  horseProvider:"BHC"
      };
      var horse10 = {
    		  horseName:"Sheldon",
    		  horseProvider:"BHC"
      };
      
      var horses1=[horse6,horse7,horse8,horse9,horse10];
      var assignedNames2 = [];
      var ind1=0;

      // Iterate over the horse name elements and assign random names
      for (var i = 0; i < class2horseNameElements.length; i++) {
        var randomIndex2 = Math.floor(Math.random() * class2horseNames.length);
        while (assignedNames2.includes(class2horseNames[randomIndex2])) {
        	randomIndex2++;
            if (randomIndex2 >= class2horseNames.length) {
              randomIndex2 = 0;
            }
        }
        class2horseNameElements[i].textContent = class2horseNames[randomIndex2];
        assignedNames2.push(class2horseNames[randomIndex2]);
        
        
        for (let k = 0; k < horses.length; k++) {
       	 
      	  if(class2horseNames[randomIndex2] == horses1[k].horseName){
      		 
      		horseNameProviderElements2[i].textContent = horses1[k].horseProvider;
      	  }
      	}
       
      }
    }
  function toggleTables() {
      var classSelect = document.getElementById("classSelect");
      var class1Table = document.querySelector(".class1");
      var class2Table = document.querySelector(".class2");

      if (classSelect.value === "all") {
          class1Table.style.display = "block";
          class2Table.style.display = "block";
        }else if (classSelect.value === "class1") {
        class1Table.style.display = "block";
        class2Table.style.display = "none";
      } else if (classSelect.value === "class2") {
        class1Table.style.display = "none";
        class2Table.style.display = "block";
      } else {
        class1Table.style.display = "none";
        class2Table.style.display = "none";
      }
    }
  </script>


</body>

</html>
